<launch>
	<!---->
	<include file="$(find urdf_pkg)/launch/upload_powerbot.xml"/>
	
	<!--publishes all the frames to TF-->
  	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">

    	<param name="publish_frequency" type="double" value="30.0"/>

    	<param name="tf_prefix" type="string" value=""/>
  	</node>


</launch>
