<?xml version="1.0"?>
<robot name="wam"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includea all the WAM stuff -->
  <xacro:include filename="$(find champ_description)/urdf/wam/defs/wam_top.urdf.xacro"/>

  <!-- Root link is in the world frame-->
  <link name="world"/>

  <!-- 7-DOF Wam -->
  <xacro:wam_7dof prefix="wam" parent_link="world" xyz="0.0 0.0 0.5" rpy="0 0 0" />

  <!-- BBall -->
  <xacro:bball prefix="wam/bball" parent_link="wam/wrist_palm_link" xyz="0 0 0.06" rpy="0 0 1.57079"/>

  <!-- ARM Joint Controllers

      - wam/base_yaw_joint
      - wam/shoulder_pitch_joint
      - wam/shoulder_yaw_joint
      - wam/elbow_pitch_joint
      - wam/wrist_yaw_joint
      - wam/wrist_pitch_joint
      - wam/palm_yaw_joint
-->

<!-- wam/base_yaw_joint -->
  <transmission name="w1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/base_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/shoulder_pitch_joint -->
  <transmission name="w2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/shoulder_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/shoulder_yaw_joint -->
  <transmission name="w3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/shoulder_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/elbow_pitch_joint -->
  <transmission name="w4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/elbow_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/wrist_yaw_joint -->
  <transmission name="w5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/wrist_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/wrist_pitch_joint -->
  <transmission name="w6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/wrist_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/palm_yaw_joint -->
  <transmission name="w7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/palm_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
