<?xml version="1.0"?>

<robot name="wam_powerbot"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Includea all the WAM stuff -->
  <xacro:include filename="$(find champ_description)/urdf/wam/wam2_bhand.xacro"/>

<link name="cam"/>

  <!-- Include powerbot -->
 <xacro:include filename="$(find champ_description)/urdf/powerbot/powerbot.xacro"/>

<!-- Load kinect from turtlebot_description and position it at origin from asus_cal -->
<xacro:include filename="$(find champ_description)/urdf/sensors/asus/asus_cal.xacro"/>
<xacro:include filename="$(find champ_description)/urdf/sensors/asus/asus_xtion_pro.urdf.xacro"/>
<xacro:sensor_asus_xtion_pro parent="cam"/>
<joint name="cam_joint" type="fixed">
	<origin xyz="${asus_x} ${asus_y} ${asus_z}" rpy="${asus_roll} ${asus_pitch} ${asus_yaw}"/>
	<parent link="base_center"/>
	<child link="cam"/>
</joint>
<!-- Kinect stuff 
  <xacro:include filename="$(find champ_description)/urdf/asus/asus.xacro"/>
  <xacro:include filename="$(find champ_description)/urdf/asus/asus_cal.xacro"/>
  <xacro:asus_camera_model name="kinect" parent="base_center">
       <origin xyz="${asus_x} ${asus_y} ${asus_z}" rpy="${asus_roll} ${asus_pitch} ${asus_yaw}"/>
  </xacro:asus_camera_model>
  -->
<!-- Root link is in the world frame-->
<link name="world"/>

<joint name="world_fixed_joint" type="fixed">
<!--NB!: origin of base_center is in the center of the chassis, therefore we need to offset the base along z-axis to avoing collisions with the floor-->
<origin xyz="0 0 0.2" rpy="0 0 0"/>
<parent link="world"/>
<child link="base_center"/>
</joint>	
<!-- ArmStuff -->

<!-- 7-DOF Wam with hand on top of arm_plate-->
<xacro:wam2_bhand prefix="wam" parent="arm_plate" xyz="0.22 0.0 0.05" rpy="0 0 0"/>

<xacro:powerbot/>

<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/wam_powerbot</robotNamespace>
  </plugin>
</gazebo>

</robot>
