<?xml version="1.0"?>

<robot name="wam_powerbot"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Includea all the WAM stuff -->
  <xacro:include filename="$(find champ_description)/urdf/wam/wam_top.urdf.xacro"/>

<link name="cam"/>

  <!-- Include powerbot -->
 <xacro:include filename="$(find champ_description)/urdf/powerbot/powerbot.xacro"/>



<!-- Load kinect from turtlebot_description and position it at origin from asus_cal -->
<xacro:include filename="$(find champ_description)/urdf/sensors/asus/asus_cal.xacro"/>
<xacro:include filename="$(find champ_description)/urdf/sensors/asus/asus_xtion_pro.urdf.xacro"/>
<xacro:sensor_asus_xtion_pro parent="cam"/>
<joint name="cam_joint" type="fixed">
	<origin xyz="${asus_x} ${asus_y} ${asus_z}" rpy="${asus_roll} ${asus_pitch} ${asus_yaw}"/>
	<parent link="base_center"/>
	<child link="cam"/>
</joint>
<!-- Kinect stuff 
  <xacro:include filename="$(find champ_description)/urdf/asus/asus.xacro"/>
  <xacro:include filename="$(find champ_description)/urdf/asus/asus_cal.xacro"/>
  <xacro:asus_camera_model name="kinect" parent="base_center">
       <origin xyz="${asus_x} ${asus_y} ${asus_z}" rpy="${asus_roll} ${asus_pitch} ${asus_yaw}"/>
  </xacro:asus_camera_model>
  -->
<!-- Root link is in the world frame-->
<link name="world"/>

<joint name="world_fixed_joint" type="fixed">
<origin xyz="0 0 0" rpy="0 0 0"/>
<parent link="world"/>
<child link="base_center"/>
</joint>	
<!-- ArmStuff -->

<!--Ball-->
<xacro:bball parent_link="wam/wrist_palm_link" prefix="wam/ball" xyz="0 0 0.06" rpy="0 0 0"/>

<!-- 7-DOF Wam on top of top plate-->
<xacro:wam_7dof prefix="wam" parent_link="arm_plate" xyz="0.22 0.0 0.05" rpy="0 0 0" />


<xacro:powerbot/>

<!--Joint Controllers
- ARM
      - wam/base_yaw_joint
      - wam/shoulder_pitch_joint
      - wam/shoulder_yaw_joint
      - wam/elbow_pitch_joint
      - wam/wrist_yaw_joint
      - wam/wrist_pitch_joint
      - wam/palm_yaw_joint
- HAND
      - wam/bhand/finger_1/med_joint
      - wam/bhand/finger_1/dist_joint
      - wam/bhand/finger_2/med_joint
      - wam/bhand/finger_2/dist_joint
      - wam/bhand/finger_3/dist_joint
-->

<!-- wam/base_yaw_joint -->
  <transmission name="w1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/base_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/shoulder_pitch_joint -->
  <transmission name="w2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/shoulder_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/shoulder_yaw_joint -->
  <transmission name="w3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/shoulder_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/elbow_pitch_joint -->
  <transmission name="w4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/elbow_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/wrist_yaw_joint -->
  <transmission name="w5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/wrist_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/wrist_pitch_joint -->
  <transmission name="w6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/wrist_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!-- wam/palm_yaw_joint -->
  <transmission name="w7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wam/palm_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>



<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/wam_powerbot</robotNamespace>
  </plugin>
</gazebo>

</robot>
