<?xml version="1.0"?>

<robot name="box_wam_powerbot"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Includea all the WAM stuff -->
  <xacro:include filename="$(find champ_description)/urdf/wam/wam_top.urdf.xacro"/>

  <!-- Include powerbot -->
  <xacro:include filename="$(find champ_description)/urdf/powerbot/box_powerbot.xacro"/>


<!-- Kinect stuff -->
  <xacro:include filename="$(find champ_description)/urdf/asus/asus.xacro"/>
  <xacro:include filename="$(find champ_description)/urdf/asus/asus_cal.xacro"/>
  <xacro:asus_camera_model name="kinect" parent="base_link">
       <origin xyz="${asus_x} ${asus_y} ${asus_z}" rpy="${asus_roll} ${asus_pitch} ${asus_yaw}"/>
  </xacro:asus_camera_model>
  

	
<!-- ArmStuff -->

<!-- BHand -->
<xacro:bhand prefix="wam/bhand" parent_link="wam/wrist_palm_link" xyz="0 0 0.06" rpy="0 0 0"/>

<!-- 7-DOF Wam on top of top plate-->
<xacro:wam_7dof prefix="wam" parent_link="base_link" xyz="0.18 0.0 0.480" rpy="0 0 0" />


</robot>
