<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find wam_control)/config/wam_control_effort.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/wam_powerbot" args="    wam/base_yaw_joint_effort_controller
					wam/shoulder_pitch_joint_effort_controller
					wam/shoulder_yaw_joint_effort_controller
					wam/elbow_pitch_joint_effort_controller
					wam/wrist_yaw_joint_effort_controller
					wam/wrist_pitch_joint_effort_controller
					wam/palm_yaw_joint_effort_controller 
					joint_state_controller
					"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
    respawn="false" output="screen">  
     <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/wam_powerbot/joint_states]</rosparam>
  </node>

</launch>



